{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Books</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a class="btn btn-primary" href="{{url_for('book_add')}}">New Book</a>
            </div>
          </div>
          <h2>Books in library</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Category</th>
                  <th>Year</th>
                </tr>
              </thead>
              <tbody>
                {% for book in books %}
                <tr>
                  <td>{{book.id}}</td>
                  <td><a href="{{url_for('book_view', id=book.id) }}">{{book.title}}</a></td>
                  <td>{{book.author}}</td>
                  <td>{{book.category}}</td>
                  <td>{{book.year_published}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>


{% endblock %}