{% extends 'base.html' %}

{% block title %}Loans{% endblock %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Loans</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
              </button>
            </div>
          </div>
          <h2>Books loaned</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Checkout date</th>
                  <th>Book</th>
                  <th>Member</th>
                  <th>Checkin date</th>
                </tr>
              </thead>
              <tbody>
                {% for loan in loans %}
                <tr>
                  <td>{{ loan.id }}</td>
                  <td>{{ loan.checkout_date }}</td>
                  <td>{{ loan.title }}</td>
                  <td>{{ loan.first_name }} {{ loan.last_name }}</td>
                  <td>{{ loan.checkin_date }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>


{% endblock %}