{% extends 'base.html' %}
{% block title %}Members{% endblock %}
{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1>Members</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
        </button>
      </div>
    </div>
    <h2>Library members</h2>
    <ul class="list-unstyled members-list">
      {% for member in members %}
      <li class="media pb-2 mb-2 border-bottom">
        <img src="{{url_for('static', filename='images/')}}{{member.avatar}}" class="mr-3" width="80px" alt="member avatar">
        <div class="media-body">
          <h5 class="mt-0 mb-1">
            <a href="{{url_for('member_view', id=member.id) }}">{{ member.last_name }} {{ member.first_name }}</a>
          </h5>
          <p>Total loans: 2</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}

